@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AnimDispa</h1>
    <p class="lead">Site pour déclarer la perte de son animal de compagnie préféré <spanc class="glyphicon glyphicon-heart"></spanc>  </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <h2>Liste des dernieres disparitions : </h2>

    @for (int i = 0; i < 10; i++)
    {
        @* Div a repeter en boucle *@
        <div class="col-sm-10 col-sm-offset-1 well">

            <img class="col-sm-3 img-responsive" src="~/content/img/chat1.jpg" alt="Image de l'animal'" />

            <div class="col-sm-9">
                <h3 style="margin-top:0px">Grincheux</h3>
                <div class="col-md-12">
                    <table class="table table-condensed table-striped">
                        <tr>
                            @*<td>Nom : Grincheux</td>*@
                            <td>Poids : 5Kg</td>
                            <td>Race : Angora</td>
                            <td>Couleur : Marron, blanc, noir</td>
                        </tr>
                        <tr>
                            <td>Tatouage : 47-22-5-GSK</td>
                            <td>Puce : Oui</td>
                            <td>Ville : Nantes</td>
                            <td>Statuts : Disparu</td>
                        </tr>
                    </table>
                </div>
                @*<p>C'est mon chat préféré parmis tous les chat que je possède</p>*@
                <p class="pull-right">Propriétaire : Mère Michèle</p>
                <button class="btn btn-primary">Voir plus</button>
            </div>
        </div>
        @* FIN Div a repeter en boucle *@
    }








</div>