@model AnimDispa.Models.Types

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<br />

<form action="/Types/AddConfirm" method="POST">
        <label>Libelle : </label>
        <input type="text" name="libelle" required class="form-control text-box single-line" value="" />
        <br />
        <input type="submit" class="btn btn-success" />
        @Html.ActionLink(" Retour", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</form>